@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(./home.css);
@import url(./log_sign.css);
@import url(./about.css);
@import url(./agents.css);
@import url(./projects.css);
@import url(./criar.css);

:root {
    --cor-primaria:linear-gradient(135deg, #333446 63%, #5F6292 100%);
    --cor-secundaria:rgba(127, 140, 170, 0.5);
    --cor-terciaria:rgba(184, 207, 206, 0.9);
    --cor-texto:#EAEFEF;
    --cor-botao: #7C93C3;
    --cor-botao-sec:#83B1AF;
    --cor-hover: #7076DE;
    --cor-hover-sec:#49b1ac;
    --font-principal:"Kodchasan", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background: var(--cor-primaria);
    font-family: var(--font-principal);
    color: var(--cor-texto);
    font-size: 16px;
    font-weight: 600;
    overflow-x: hidden;
}

strong{
    color: var(--cor-terciaria);
}
