
.corpo {
    background-color: var(--cor-primaria);
    font-family: var(--font-principal);
    color: var(--cor-terciaria);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo__logo {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: var(--cor-terciaria);
}

.div__formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 300px;
}

.inputs, .botao__login {
    font-family: var(--font-principal);
    padding: 0.8em;
    border: none;
    border-radius: 12px;
    font-size: 1em;
}

.inputs {
    background-color: var(--cor-secundaria);
    font-weight: 500;
    color: var(--cor-texto);
}

.inputs:hover{
    background-color: rgba(127, 140, 170, 0.7);
}

.inputs::placeholder {
    color: var(--cor-texto);
    opacity: 1;
    font-weight: 500;
    font-family: var(--font-principal);
}

.botao__login {
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.botao__login:hover{
    background-color: var(--cor-hover);
}

.senha__signup{
    color: var(--cor-terciaria);
    text-decoration: none;  
}

.senha__signup:hover{
    text-decoration:underline;
}

.signup__texto, .login__texto{
    color: var(--cor-texto);
}