@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cor-primaria:#333446;
    --cor-secundaria:#7F8CAA;
    --cor-terciaria:#B8CFCE;
    --cor-texto:#EAEFEF;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#333446 ;
    font-family: "Kodchasan", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: var(--cor-texto);
    font-style: normal;
}

.logo__marca{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo__logo{
    font-size: 60px;;
    color: var(--cor-terciaria);
    justify-content: space-evenly;
}

.formulario__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
